<div id="{{type}}-dates" class="form-group entry">
    <div class="col-xs-5">
        <input class="form-control" name="{{type}}_start" value="{{date.start}}"/>
    </div>
    <div class="col-xs-5">
        <input class="form-control" name="{{type}}_end" value="{{date.end}}"/>
    </div>
    <div class="col-xs-2">
        <span class="input-group-btn">
            <button class="btn btn-add" type="button">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </span>
    </div>
</div>
