<h2 class="col-xs-12">Staff</h2>
<div class="form-group">
    <label class="col-xs-12">Dates</label>
    {% with type="staff" %}
    <div class="dynamic-form">
        {% for date in person.staff.dates %}
        {% include 'forms/dates.html' %}
        {% else %}
        {% include 'forms/default_date.html' %}
        {% endfor %}
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12">Positions</label>
    <div class="dynamic-form">
        {% with num = 0 %}
        {% for position in person.staff.position %}
        {% include 'forms/positions.html' %}
        {% set num = num + 1 %}
        {% else %}
        {% include 'forms/default_position.html' %}
        {% endfor %}
        {% endwith %}
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12">Students</label>
    <div class="dynamic-form">
        {% with linkname = 'staff_phd' %}
        {% with people = students %}
        {% for link_person in person.staff.students %}
        {% include 'forms/link_form.html' %}
        {% else %}
        {% include 'forms/default_link.html' %}
        {% endfor %}
        {% endwith %}
        {% endwith %}
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12">PostDocs (Primary Investigator)</label>
    <div class="dynamic-form">
        {% with linkname = 'staff_primary' %}
        {% with people = postdocs %}
        {% for link_person in person.staff.postdocs %}
        {% include 'forms/link_form.html' %}
        {% else %}
        {% include 'forms/default_link.html' %}
        {% endfor %}
        {% endwith %}
        {% endwith %}
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12">PostDocs (Secondary Investigator)</label>
    <div class="dynamic-form">
        {% with linkname = 'staff_secondary' %}
        {% with people = postdocs %}
        {% for link_person in person.staff.postdocs_secondary %}
        {% include 'forms/link_form.html' %}
        {% else %}
        {% include 'forms/default_link.html' %}
        {% endfor %}
        {% endwith %}
        {% endwith %}
    </div>
</div>
{% endwith%}
