{% extends 'base.html' %}
{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-xs-12 text-center'>
            <h2>About the project</h2>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-2'>
        </div>
        <div class='col-xs-8'>
            <p>Welcome to the website of the LFCS History Project.</p>
            <p>The idea for the project came from a feeling that the history of the LFCS had not been as well documented as it could have, and that it would be a good idea to try and collect all the information about the LFCS in one place.<p>
            <p>The information displayed on this website was collected through research and collective memory, thus it is highly likely that there are some mistakes. If you spot a mistake, and wish to correct it, feel free to suggest an edit on the page for the person whose information is incorrect, and we will review your submission as quickly as possible</p>
            <p>If you have any questions, feedback, or suggestions that cannot be sent through the website, feel free to email us at admin@inf.ed.ac.uk<p>
        </div>
        <div class='col-xs-2'>
        </div>
    </div>
</div>
{% endblock %}
