<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="brand" href="{{url_for('index')}}"><img src="{{url_for('static', filename='lfcs.png')}}"</img></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li id='viewall'>
                    <a href='{{url_for("view_all")}}'>View All</a>
                </li>
                {% if not current_user.authenticated %}
                <li>
                <div>
                    <button class="btn btn-default navbar-btn" type="button" data-toggle="modal" data-target="#login">Login</button>
                </div>
                </li>
                {% else %}
                <li><p class='navbar-text'>Logged in as {{current_user.first_name}}</p></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-cog"></i><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{url_for('add_person')}}">Add Person</a></li>
                    <li><a href="{{url_for('get_first_suggestion')}}">Review Suggestions</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{url_for('create_backup')}}">Create Backup</a></li>
                    <li><a href="{{url_for('view_backups')}}">Restore Backup</a></li>
                    <li><a href="{{url_for('clean')}}">Clean Backups</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{url_for('update_user')}}">Update account</a></li>
                    <li><a href="{{url_for('add_user')}}">Add account</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{url_for('logout')}}">Log Out</a></li>
                </ul>
                </li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
