<div id="{{type}}-dates" class="form-group entry">
    <div class="row">
        <div class="col-xs-10">
            <div class="input-group">
                <input type="number" class="form-control" name="{{type}}_start"/>
                <span class="input-group-addon" style="border-left: 0; border-right: 0;">-</span>
                <input type="number" class="form-control" name="{{type}}_end"/>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="cat-btn btn-group">
                <button class="btn btn-remove" type="button">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
                <button class="btn btn-add btn-primary" type="button">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>
