<div class="entry">
    <div class="row">
        <div class="col-xs-6">
            <select name="{{linkname}}_link" style="width: 100%">
                <option value="{{link_person.person.id}}">{{link_person.person.name}}</option>
                <option value=''>None</option>
                {% for person in people %}
                <option value="{{person.id}}">{{person.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-xs-2">
            <div class="cat-btn btn-group">
                <button class="btn btn-remove" type="button">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
                <button class="btn btn-add btn-primary" type="button">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>
