<div class="col-xs-12">
        <h2 style='display: inline; padding-right: 10px'>PhD</h2>
        <button class="btn btn-danger cat-rm" type="submit" value="rm-phd" name="rm-cat" style="vertical-align: top">
            <i class="glyphicon glyphicon-remove"></i>
        </button>
</div>
<div class="form-group">
    <label class="col-xs-12">Dates</label>
    {% with type="phd" %}
    <div class="dynamic-form">
        {% for date in person.phd.dates %}
        {% include 'forms/dates.html' %}
        {% else %}
        {% include 'forms/default_date.html' %}
        {% endfor %}
    </div>
</div>
<div class="form-group col-xs-12" id="thesis">
    <label>Thesis</label>
    <input class="form-control" name="thesis" type"text" value="{{person.phd.thesis}}"</input>
</div>
<div class="form-group">
    <label class="col-xs-12">Supervisors</label>
    <div class="dynamic-form">
        {% with linkname = 'phd_staff' %}
        {% with people = staff %}
        {% for link_person in person.phd.supervisor %}
        {% include 'forms/link_form.html' %}
        {% else %}
        {% include 'forms/default_link.html' %}
        {% endfor %}
        {% endwith %}
        {% endwith %}
    </div>
</div>
{% endwith %}
