    <div id="staff" class="col-xs-12">
    <h2>Staff</h2>
    </div>
        <div class="col-xs-4">
            <p><b>Positions</b></p>
            {% for position in person.staff.position %}
                <p id="staff_pos">{{position.position}}
                    {% for date in position.dates %}
                        ({{date.start}}-{{date.end}})
                    {% endfor %}
                </p>
            {% endfor %}
        </div>
        <div class="col-xs-4">
            <p><b>Students</b></p>
            {% for student in person.staff.students %}
                <a href="/person/{{student.person.id}}" id="student">{{student.person.name}}</a>
            {% endfor %}
        </div>
        <div class="col-xs-4">
            <p><b>PostDocs</b></p>
            <p>Primary Investigator<p>
                {% for postdoc in person.staff.postdocs %}
                    <p><a href="/person/{{student.person.id}}" id="student">{{student.person.name}}</a><p>
                {% endfor %}
            <p>Secondary Investigator<p>
                {% for postdoc in person.staff.postdocs_secondary %}
                    <p><a href="/person/{{student.person.id}}" id="student">{{student.person.name}}</a><p>
                {% endfor %}
        </div>
