<div class="row">    
    <div id="assoc" class="col-xs-12">
        <h2>
            Associate
            {% for date in person.associate.dates %}
            ({{date.start}}-{{date.end}})
            {% endfor%}
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <p><b>Positions</b></p>
        <table class="table table-hover">
            <thead>
                <th>Title</th>
                <th>Dates</th>
            </thead>
            <tbody>
            {% for position in person.associate.position %}
            <tr><td>{{position.position}}</td>
                <td>
                    {% for date in position.dates %}
                    <p>{{date.start}}-{{date.end}}</p>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
