{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class='row' style='padding-bottom: 20px'>
        <div class='col-xs-12'>
            <h1 style="display: inline">{{person.name}}</h1>
            <div class="pull-right" style="display: inline-block">
                {% if current_user.authenticated %}
                <a style='padding-right:20px' href='{{url_for("update", id=person.id)}}' class="btn btn-warning btn-lg"><i class="glyphicon glyphicon-pencil"></i></a>
                {% else %}
                <a style='padding-right:20px' href='{{url_for("suggest", id=person.id)}}' class="btn btn-warning btn-lg"><i class="glyphicon glyphicon-pencil"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p><strong>Dates</strong>
            {% for date in person.dates %}
            {{date.start}}-{{date.end}}
            {% endfor %}
            </p>
            {% if person.url %}
            <p><strong>Website</strong> <a href='{{person.url}}'>{{person.url}}</a></p>
            {% endif %}
            <p><strong>Current Location</strong> {{person.location}}</p>
        </div>
    </div>
    {% if person.staff %}
    {% include 'people/staff.html' %}
    {% endif %}

    {% if person.postdoc %}
    {% include 'people/postdoc.html' %}
    {% endif %}

    {% if person.phd %}
    {% include 'people/phd.html' %}
    {% endif %}

    {% if person.associate %}
    {% include 'people/associate.html' %}
    {% endif %}
</div>
{% endblock %}
