<div class='row'>
    <div id="phd" class="col-xs-12">
        <h2>
            PhD
            {% for date in person.phd.dates %}
            ({{date.start}}-{{date.end}})
            {% endfor%}
        </h2>
    </div>
</div>
<div class='row'>
    <div class="col-xs-12">
        <strong>Thesis:</strong> {{person.phd.thesis}}
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <p><strong>Supervisors</strong></p>
        <table class="table table-hover">
            <tbody>
            {% for sup in person.phd.supervisor %}
            <tr>
                <td>
                    <a href="{{url_for('person',id=sup.person.id)}}" id="supervisor">{{sup.person.name}}</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
