<tr>
        <td id="name">{{result.name}}</td>
        <td id="positions">
                {% for pos in result.staff.position %}
                    <p>{{pos.position}} ({{pos.start}}-{{pos.end}})</p>
                {% endfor %}
                
                {% for pos in result.associate.position %}
                    <p>{{pos.position}} ({{pos.start}}-{{pos.end}})</p>
                {% endfor %}
        </td>
        <td id="category">
                {% if result.staff %}
                <p>Staff</p>
                {% endif %}
                {% if result.phd %}
                <p>PhD</p>
                {% endif %}
                {% if result.associate %}
                <p>Associates</p>
                {% endif %}
        </td>
        <td id="dates">
                <p>{{result.start}}-{{result.end}}</p>
        </td>
</tr>
